@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alice&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
    body{
    background: linear-gradient(135deg, #B6AE9F, #DEDED1, #929AAB, #F7F7F7);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
     margin:0;
    font-family: "Alice";
    }
    @keyframes gradientMove {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

/* khung giấy ngang */
.khung{
    width:1250px;
    margin:auto;
    margin-top: 20px;
    display:flex;
    box-shadow:0 0 20px gray;
}

/* bên trái */
.trai{
    width:50%;
    padding:40px;
}
.trai h3{
    font-size: 20px;
}
.trai h4{
    font-family: "Agbalumo";
    font-size: 30px;
}
.trai p{
     font-size: 20px;
}

.shop{
    letter-spacing:2px;
}

.mota{
    font-size:20px;
    color:#000000;
}

.ten{
    font-family: "Agbalumo";
    font-size:45px;
    margin:20px 0;
}

.info p{
    font-size: 20px;
    margin:5px 0;
}

.tag span{
    border:1px solid #999;
    padding:5px 15px;
    border-radius:20px;
    margin-right:10px;
    font-size:20px;
}

/* bên phải */

.phai{
    width:50%;
    text-align:center;
    padding:30px;
}

.phai img{
    width:300px;
    border-radius:20px;
    margin-bottom:20px;
}

.kinhnghiem{
    text-align:left;
    padding:0 40px;
}
.kinhnghiem p{
    font-size: 20px;
}

ul{
    font-size: 20px;
    padding-left:20px;
}

.gia{
    font-size:50px;
    font-weight:bold;
    color: red;
}
