@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Alice&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');
    body{
    background: linear-gradient(135deg, #B6AE9F, #DEDED1, #929AAB, #F7F7F7);
    background-size: 300% 300%;
    animation: gradientMove 10s ease infinite;
     margin:0;
    font-family: "Alice";
    }
    @keyframes gradientMove {
        0% { background-position: 0% 50%; }
        50% { background-position: 100% 50%; }
        100% { background-position: 0% 50%; }
    }

/* khổ giấy ngang */

.page{
    width:1250px;
    margin:30px auto;
    box-shadow:0 0 10px gray;
}

.container{
    display:flex;
    height:100%;
}

/* bên trái */

.left{
    width:40%;
    text-align:center;
    padding:30px;
}

/* tên shop */

.shop h2{
    margin:0;
}

.shop p{
    color:#666;
    margin-bottom:20px;
}

/* ảnh tròn */

.anh{
    width:300px;
    height:450 px;
    object-fit:cover;
    border-radius:20px;
}

/* bên phải */

.right{
    
    width:60%;
    padding:50px;
}

/* thông tin */

.thongtin{
    font-size: 20px;
    margin-bottom:40px;
}
.thongtin h1{
    
    font-family: "Agbalumo";
}

/* danh sách */

.dacdiem{
    list-style:"✦ ";
    font-size:20px;
    line-height:35px;
}

/* giá */

.gia{
    font-size:28px;
    color:#c1121f;
    font-weight:bold;
}
.shop{
    margin-bottom:30px;
}

.tenShop{
    font-family: "Agbalumo";
    font-size:50px;
    font-weight:bold;
    letter-spacing:4px;
    color:rgb(76, 59, 55);
    margin-bottom: 0;
    display:inline-block;
    padding-bottom:5px;
}

.slogan{
    color:#777;
    font-size:20px;
    letter-spacing:2px;
    margin-top:5px;
}
